/* Reset & Base*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
 
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #87ceeb, #f0f4f8);
    transition: background 0.5s;
    color: #333;
}
 header,
footer {
    text-align: center;
    padding: 1rem;
    background: #4a90e2;
    color: white;
}
 
main.container {
    flex: 1;
    max-width: 700px;
    margin: 2rem auto;
    padding: 0 1rem;
    min-width: 500px;
}
 
.search {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}